[submodule "bifold"]
	path = bifold
	url = https://github.com/hyperledger/aries-mobile-agent-react-native.git
[submodule "aries-mobile-agent-react-native"]
	path = aries-mobile-agent-react-native
	url = https://github.com/hyperledger/aries-mobile-agent-react-native
